<%- include(`./fragments/header.ejs`) %>

    <main>
        <h2><%= __('main-page.title') %>
        </h2>
        <p>Ademi is a dental clinic that requires an application to keep track on their appointment schedule.
            Application must store information about patients, their appointment and which specific procedure they will
            have.
        </p>
    </main>

    <%- include(`./fragments/footer.ejs`) %>